[Unit]
Description=NMS KOPEGTEL Agent
After=network.target

[Service]
WorkingDirectory=/home/sandayy/nms-dashboard1
EnvironmentFile=/home/sandayy/nms-dashboard1/.env
ExecStart=/home/sandayy/nms-dashboard1/env/bin/python nms-agent.py
Restart=always
RestartSec=10
User=sandayy

[Install]
WantedBy=multi-user.target
